Banco/091012.7z
Banco/backup.bat
Banco/Backup.jar
Banco/Duplicatas-Faturas2-copia.xls
Banco/erro mysql.txt
Banco/exec.bat
Banco/import faturas2.sql
Banco/insert faturas2.sql
Banco/my.ini
Banco/MySQL Import-Export.tex
errors.log
Backup.jar
